.home-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 7%;
  .first-row {
    display: flex;
    .first-column {
      display: flex;
      flex-direction: column;
    }
  }
}
