* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

$black: #333333;
$primary-color: #18a0fb;

button {
  background-color: $primary-color;
  cursor: pointer;
}

// Importing other css

@import "header";
