:root {
  /* default theme */
  --background: #f0f2f5;
}

[data-theme="dark"] {
  --background: #333333;
}

body {
  background-color: var(--background);
}

$black: #333333;
$primary-color: #18a0fb;
$Gray: #d8e3e7;

// Importing CSS
@import "global.scss";
@import "header";
@import "pages/home.scss";
@import "feature-post";
@import "recent-post.scss";
@import "trending-post.scss";
@import "hotTopics";
@import "footer";
