header {
  .first-row {
    display: flex;
    padding: 25px 7% 0 7%;
    align-items: center;
    justify-content: space-between;
    .identity-section {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black;
      column-gap: 10px;
    }
    .link-section {
      display: flex;
      align-items: center;
      column-gap: 15px;
      button {
        background-color: transparent;
        border: none;
        outline: none;

        svg {
          font-size: 1.8rem;
          transition: 1s transform ease-out;
          &:hover {
            transform: rotate(180deg);
          }
        }
      }
      .register-btn {
        background-color: $primary-color;
        color: whitesmoke;
        svg {
          color: whitesmoke;
        }
        &:hover {
          background-color: whitesmoke;
          color: $primary-color;
          svg {
            color: $primary-color;
          }
        }
      }
    }
  }
  aside {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    a {
      text-decoration: none;
      color: $primary-color;
      font-weight: bold;
      &:hover {
        color: $black;
      }
    }
    .active {
      color: $black;
    }
  }
  // Search button css
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
    input {
      width: 30%;
      border: 1px solid $black;
      border-radius: 4px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      padding: 8px;
      &:focus {
        border: 1px solid $primary-color;
        outline: none;
      }
    }
    button {
      padding: 4px 7px;
      border: 1px solid $black;
      outline: none;
      border-radius: 4px;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
      color: whitesmoke;
      border-left: none;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        transition: 0.4s transform ease-in-out;
        color: whitesmoke;
      }
      &:hover {
        svg {
          transform: scale(1.2);
        }
      }
    }
  }
}

// For the dark theme

[data-theme="dark"] {
  header {
    aside {
      a {
        &:hover {
          color: whitesmoke;
        }
      }
      .active {
        color: whitesmoke;
      }
    }
    form {
      input {
        border: 1px solid $primary-color;
      }
      button {
        border: 1px solid $primary-color;
      }
    }
  }
}

// For mobile

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    .first-row {
      flex-direction: column;
      row-gap: 20px;
      .link-section {
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 20px;
        .link-btn {
          padding: 0;
          .head-link-text {
            display: none;
          }
        }
      }
    }
    form {
      input {
        width: 75%;
      }
    }
  }
}
