.recen-post-section {
  width: 40%;
  margin-left: 35px;
  .heading-container {
    background-color: $primary-color;
    padding: 20px 40px;
    align-self: baseline;
    color: whitesmoke;
    text-align: center;
    position: relative;
    svg {
      vertical-align: middle;
      font-size: 1.3rem;
      color: whitesmoke;
    }
    .dropdownicon {
      position: absolute;
      bottom: -45px;
      color: $primary-color;
      font-size: 5rem;
      right: 200px;
    }
  }
  .post-container {
    margin-top: 25px;
    border: 2px solid #333333;
    box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.3);
    .thumbnail-container {
      display: flex;
      padding: 20px;
      justify-content: space-between;
      .image-container {
        width: 200px;
        height: 150px;
        background-color: $Gray;
        border: 2px solid #333333;
        position: relative;
      }
      .right-column {
        display: flex;
        flex-direction: column;
        .post-date,
        .post-author {
          padding: 10px;
        }
        .post-category {
          padding: 5px 15px;
          background-color: $Gray;
          margin-top: 15px;
          width: fit-content;
          border-radius: 5px;
          margin-top: 20px;
          &:hover {
            background-color: $primary-color;
            color: whitesmoke;
            svg {
              color: whitesmoke;
            }
          }
        }
      }
    }
    .post-title {
      width: 100%;
      display: block;
      background-color: $Gray;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      &:hover {
        background-color: $primary-color;
        color: whitesmoke;
      }
    }
  }
}
