.recen-post-section {
  width: 40%;
  margin-left: 35px;
  .post-container {
    margin-top: 25px;
    border: 2px solid #333333;
    box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.3);
    .thumbnail-container {
      width: 100%;
      display: flex;
      padding: 20px;
      align-items: center;
      justify-content: space-between;
      .image-container {
        width: 200px;
        height: 150px;
        background-color: $Gray;
        border: 2px solid #333333;
        position: relative;
      }
      .right-column {
        display: flex;
        flex-direction: column;
        font-size: small;
        .post-date,
        .post-author {
          padding: 10px 0px 10px 10px;
          text-align: center;
        }
        .post-category {
          margin-left: 20px;
          margin-top: 15px;
        }
      }
    }
    .post-title {
      width: 100%;
      display: block;
      background-color: $Gray;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      &:hover {
        background-color: $primary-color;
        color: whitesmoke;
      }
    }
  }
}

// For the dark theme

[data-theme="dark"] {
  .recen-post-section {
    .post-container {
      .thumbnail-container {
        border: 1px solid whitesmoke;
      }
    }
  }
}

// For mobile

@media only screen and (max-width: 768px) {
  .recen-post-section {
    width: 100%;
    margin-left: 0px;
    margin-top: 15px;
    .post-container {
      width: 80%;
      margin: 0 auto;
      margin-top: 25px;
    }
  }
}
